# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.dist-info/
*.egg-info/

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Editors
.vscode/
.idea/

# OS
.DS_Store
.Trashes
Thumbs.db

# Logs and databases
*.log
*.sqlite3
*.db

# Python test coverage
.coverage
.coverage.*
.cache/
.pytest_cache/

# MyPy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Build artifacts
build/
dist/
*.egg/
*.whl

# Sphinx documentation build output
docs/_build_html/